@use 'mixins';
@use 'typography';

.header__text {
    @include mixins.flex-column;

    &--bold {
        font-weight: typography.$bold-font-weight;
    }

    &--data {
        display: flex;
        justify-content: flex-end;
        font-weight: typography.$light-font-weight;
    }

    @include mixins.min-width-breakpoint(768px) {
        font-size: 1.5rem;
    }
}