// GLOBAL TYPOGRAPHIC STYLES - FONT FAMILIES, SIZES, WEIGHTS

$primary-font: OpenSans, sans-serif;
$regular-font-size: 16px;

$light-font-weight: 200;
$regular-font-weight: 400;
$bold-font-weight: 700;