// GLOBAL VARIABLES - COLORS, SIZES

$primary-background-color: #2b2d35;
$primary-header-background-color: #0b0c0f;
$primary-logo-background-color: #303030;
$primary-logo-hover-background-color: #da8830;
$primary-footer-background-color: #151619;
$primary-color: white;

$header-mobile-height: 68px;
$footer-mobile-height: 98px;

$header-desktop-height: 92px;
$footer-desktop-height: 92px;