// GLOBAL VARIABLES - COLORS, SIZES, TRANSITIONS

$primary-background-color: #2b2d35;
$secondary-background-color: white;
$primary-header-background-color: #0b0c0f;
$primary-footer-background-color: #151619;
$primary-color: white;
$text-color: #a7abb9;


$primary-logo-background-color: #303030;
$primary-logo-hover-background-color: #da8830;

$footer-logo-color: #28292d;
$footer-logo-hover-border-color: #997e58;
$footer-logo-hover-text-color: #a7abb9;

$footer-button-text-color: #303030;
$footer-button-hover-text-color: #da8830;

$footer-info-color: #28292d;

$button-text-color: #a4a9b7;
$button-text-hover-color: white;
$button-border-color: #28292d;
$button-border-hover-color: white;
$button-dark-gradient-color: #c1782a;
$button-light-gradient-color: #f1a343;

$radio-button-border-color: #2b2d35;

$footer-border: 1px solid $footer-logo-color;
$footer-hover-border: 1px solid $footer-logo-hover-border-color;

$block-button-border: 1px solid $primary-color;

$button-border: 1px solid $button-border-color;
$button-hover-border: 1px solid $button-border-hover-color;

$primary-box-shadow: 0px -3px 20px $footer-logo-color;

$header-mobile-height: 100px;
$footer-mobile-height: 130px;

$header-desktop-height: 140px;
$footer-desktop-height: 140px;

$ease-transition: 1s ease;
$quick-ease-transition: 0.5s ease;