<button class="footer__button">
    <span class="footer__button--text">POKAŻ</span><i class="arrow up"></i>
</button>
<div id="footerButtonOptions" class="footer__button--options" role="footerButtonOptions">
    <button class="footer__button--option" role="footerButtonOption">
        <i class="arrow right"></i><span class="footer__button--option--text">ZRESETUJ USTAWIENIA</span>
    </button>
    <button class="footer__button--option" role="footerButtonOption">
        <i class="arrow right"></i><span class="footer__button--option--text">POKAŻ DANE OSOBOWE</span>
    </button>
</div>