@use 'mixins';
@use 'typography';
@use 'variables';

app-headline {
    display: flex;
}

app-sub-headline {
    display: flex;
    width: 100%;
}

app-sub-headline-ellipsis {
    display: flex;
}

.section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 100%;
    
    .card {
        flex: 0 0 calc(50% - 16px);
        box-sizing: border-box;
        padding-top: 2rem;
        width: 100%;

        &__content {
            @include mixins.flex-column;
            font-size: 0.9rem;
            font-weight: typography.$light-font-weight;
            color: variables.$text-color;
            padding-top: 2rem;
            align-items: center;
            text-align: center;
        }

        @include mixins.min-width-breakpoint(768px) {
            flex: 0 0 calc(33.33% - 1rem);
        }

        @include mixins.min-width-breakpoint(961px) {
            padding-top: 3rem;
        }

        @include mixins.min-width-breakpoint(1360px) {
            padding-top: 4rem;
        }
    }
}