<app-headline title="Nagłówek H1"></app-headline>
<section class="section">
    <div class="card">
        <app-sub-headline title="BLOK PIERWSZY"></app-sub-headline>
        <app-radio-buttons></app-radio-buttons>
    </div>
    <div class="card">
        <app-sub-headline id="second-block" title="BLOK DRUGI"></app-sub-headline>
        <app-block-buttons></app-block-buttons>
    </div>
    <div class="card">
        <app-sub-headline title="BLOK Z DŁUGĄ NAZWĄ KTÓRA SAMA SIĘ PRZYTNIE..."></app-sub-headline>
        <div class="card__content">
        @for (data of dataFromJSON; track data.id) {
            <p>{{ data }}</p>
        }
        </div>
    </div>
</section>